<h1>This is the homepage</h1>

# to add a link on the homepage that will be direct to about page:
# controller_action_path
# equal sign (=) display it on the web page
# <% THINGS HERE MEANS SOMETHING ON RUBY%>

<%= link_to 'About', welcome_about_path %> 

